<!-- <div class="header"></div> -->
<div class="slider">


  <figure>
    <div class="slide">
      <img src="assets/img/1.png" alt="">
    </div>
    <div class="slide">
      <img src="assets/img/2.jpg" alt="">
    </div>
    <div class="slide">
      <img src="assets/img/3.jpg" alt="">
    </div>
    <div class="slide">
      <img src="assets/img/4.jpg" alt="">
    </div>
    <div class="slide">
      <img src="assets/img/5.jpg" alt="">
    </div>
  </figure>   

</div>
<div class="section">
    <section>
      <div class="leftbox">
        <div class="content">
          <h2>Events and Shows</h2>
          <p>On this portal you will get all the updates regarding events and Shows<br>
            that are going to be held in our college. So, stay updated with the events<br> 
            and participate to explore in extra curricular activities also.
          </p>
        </div>
      </div>
       <div class="events">
        <ul>
          <li>
            <div class="time">
              <h3>5<br><span>April</span></h3>
            </div>
            <div class="details">
              <h4>About Event</h4>
              <p>There will be a chess gaming event in the college premises.
                The date will be informed to the registered students directly on this 
                portal
              </p>
                <a href="">View Details</a>
            </div>
            <div style="clear: both;"></div>
          </li>
           <li>
            <div class="time">
              <h3>13<br><span>April</span></h3>
            </div>
            <div class="details">
              <h4>About Event</h4>
              <p>There will be a cricket Tournament event in the college premises.
                The students will get information from here.
              </p>
                <a href="">View Details</a>
            </div>
            <div style="clear: both;"></div>
          </li>
          <li>
            <div class="time">
              <h3>3<br><span>May</span></h3>
            </div>
            <div class="details">
              <h4>About Event</h4>
              <p>The third year students organised a farewell party for the seniors to 
                show their love for them.
              </p>
                <a href="">View Details</a>
            </div>
            <div style="clear: both;"></div>
          </li> 
        </ul>
      </div> 
    </section>
</div>