<header>
    <div class="header">
        <h1> College Event Management System </h1>
        <p>A full solution for managing college events</p> 
        <div class="Note">
        <h3>Contact No. - 8809118003,9871355165<br>
            Address - Shalimar Garden, Ghaziabad
        </h3></div>
        
    </div>

    <nav>
        <div class="menu">
         
        <ul>
            <li><a [routerLink]="['/user/home']"><i class="fa fa-home"></i>Home</a></li>
            <li><a [routerLink]="['/user/about']" ><i class="fa fa-info"></i>About Project</a></li>
            <li><a [routerLink]="['/user/student']" ><i class="fa fa-users"></i>Student Login</a></li>
            <li><a [routerLink]="['/user/admin']" ><i class="fa fa-user"></i>Admin Login</a></li>
            <li><a [routerLink]="['/user/events']" ><i class="fa fa-calendar"></i>All Events</a></li>
            <li><a [routerLink]="['/user/register']"><i class="fa fa-registered"></i>Register</a></li>
            <li><a [routerLink]="['/user/contact']" ><i class="fa fa-envelope"></i>Contact Us</a></li>
            <li><a [routerLink]="['/user/teacher']" ><i class="fa fa-user-o"></i>Teacher Login</a></li>

        </ul>
          
    
    </div>
    </nav>
    </header>
            <router-outlet></router-outlet>
          
    
    
    
    
    
       
      <div class="footer-main-div"> 
          <div class="team-section">
              <h1>Our Team</h1>
              <span class="border"></span>
              <div class="ps">
                  <a href="#DK"><img src="assets/Deepak.png" alt=""></a>
                  <a href="#AA"><img src="assets/Akansha.jpg" alt=""></a>
                  <a href="#VKR"><img src="assets/Vimlesh.jpg" alt=""></a>
                  <a href="#PK"><img src="assets/Pawan.jpg" alt=""></a>
          
              </div>
              <div class="section" id="DK">
                  <span class="name">Deepak Gupta</span>
                  <span class="border"></span>
          <p> 
              I am Deepak Gupta and I belong to Bihar , Currently I live in Ghaziabad and persuing B-Tech from Sunder Deep Engineering College. </p>
              </div>
              <div class="section" id="AA">
                  <span class="name">Akansha Aggarwal</span>
                  <span class="border"></span>
          <p> 
              I am Akansha Aggarwal and I belong to New Delhi and I am persuing B-Tech from Sunder Deep Engineering College.
          </p>
              </div>
              <div class="section" id="VKR">
                  <span class="name">Vimlesh kr. Rai</span>
                  <span class="border"></span>
          <p> 
              I am Vimlesh kr. Rai and I belong to Vanarasi,Currently I live in Ghaziabad and persuing B-Tech from Sunder Deep Engineering College.
          
          </p>
              </div>
              <div class="section" id="PK">
                  <span class="name">Pawan kumar</span>
                  <span class="border"></span>
          <p> 
              I am Pawan kumar and I am from Noida and persuing B-Tech from SunderDeep Engineering College.
          
          </p>
              </div>
          </div> 
              <div class="footer-social-icons">
              <ul>
                <li><a href="#" target="blank"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#" target="blank"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#" target="blank"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#" target="blank"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#" target="blank"><i class="fa fa-instagram"></i></a></li>
              </ul>
            </div> 
          </div> 
          <div class="footer-bottom">
            <p>Design by:<a href="#">SunderDeep 4th Year Student</a></p>
          </div>
      
          
      
      
        
      
      


